  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,200;1,300&display=swap');
 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }
 
 body {
     font-family: 'Poppins', sans-serif;
     overflow-x: hidden;
     
 }

 a {
     text-decoration: none;
 }
 
 body, html {
     height: 100%;
     overflow: hidden;
 }
 
 .home-header {
     background-color: #252525;
     height: 100%;
     color: #fff;
 }

 .logo {
	border: 5px solid rgb(180, 159, 40);
	border-radius: 50%;
	padding: 3px;
	background: rgb(133, 144, 3);
}

p {
	font-weight: 300;
	color: #111;
}

.header__logo-name {
	color: #fff;
	background: linear-gradient(300deg, black 50%, gold 50%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.header__logo-sub-name {
	font-size: 20px;
}
.btn {
	font-size: 1em;
	color: #fff;
	background: #ff0157;
	display: inline-block;
	padding: 10px 30px;
	margin-top: 20px;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 2px;
	transition: 0.5s;
}

.btn:hover {
	letter-spacing: 6px;
}

.header-top {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	padding: 25px 100px;
	z-index: 10000;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: 0.5s;
}

header.sticky {
	background: #fff;
	padding: 10px 30px;
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}

.header-top .logo {
	color: #fff;
	font-weight: 700;
	font-size: 2em;
	text-decoration: none;
}

.header-top.sticky .logo {
	color: #111;
}

.header-top .logo span {
	color: #ff0157;
}

.header-top .navigation {
	position: relative;
	display: flex;
}

.header-top .navigation li {
	list-style: none;
	margin-left: 30px;
}

.header-top .navigation li a {
	text-decoration: none;
	color: #fff;
	font-weight: 300;
}

.header-top.sticky .navigation li a {
	color: #111;
}

.header-top .navigation li a:hover {
	color: red;
}

@media (max-width: 991px) {
	.logo {
		border: 4px solid rgb(180, 159, 40);
		background: rgb(133, 144, 3);
		padding: 1px 5px;
	}
	.header__logo-sub-mame {
		font-size: 14px;
	}
	body.lock {
		overflow: hidden;
	}
	.header-top,
	.header-top.sticky {
		padding: 10px 20px;
	}
	.header-top .navigation {
		display: none;
	}
	.header-top .navigation.active {
		width: 100%;
		height: 100%;
		position: fixed;
		top: 70px;
		left: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		background: #fff;
	}
	.header-top .navigation li {
		margin-left: 0;
	}
	.header-top .navigation li a {
		text-decoration: none;
		color: #111;
		font-size: 1.6em;
		font-weight: 300;
	}
	.menuToggle {
		position: relative;
		width: 40px;
		height: 40px;
		background: url(../img/menu.png);
		background-size: 30px;
		background-repeat: no-repeat;
		background-position: center;
		cursor: pointer;
	}
	.menuToggle.active {
		background: url(../img/close.png);
		background-size: 25px;
		background-repeat: no-repeat;
		background-position: center;
	}
	.header-top.sticky .menuToggle {
		filter: invert(1);
	}
	.banner .content h2 {
		font-size: 3.4em;
		color: rgb(238, 4, 4);
	}
	.banner .content p {
		font-size: 1.3em;
	}

	.btn {
		width: 120px;
		height: 40px;
	}

	.btn span {
		font-size: 13px;
	}
}
 
  .home-header__content {
     height: 100%;
  }

  .navigation {
     display: flex;
     list-style: none;
  }
  .navigation li a{
    margin-right: 10px;
    color: #fff;
    font-weight: 300;
 }
 
 
  /* SLIDER */
 
  .slider-container {
      width: 100%;
      height: 100%;
      overflow: hidden;
      position: relative;
      padding-left: 70px;
  }
 
 
  .slider-img {
      height: 100%;
      width: 100%;
      overflow: hidden;
      position: relative;
  }
  .slider-img::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.4);
      z-index: 2;
  }
  
  .slider-img__slide {
      height: 100%;
      overflow: hidden;
  }

  .slider-img__bg {
      height: 100%;
      background-position: center;
      background-size: cover;
  }

  .slider-text {
      position: absolute;
      z-index: 3;
      width: 100%;
      height: calc(100% - 150px)
  }

  .slider-text__slide {
      display: flex;
      justify-content: center;
      flex-direction: column;
  }

  .slider-text__content {
      text-align: right;
      padding-right: 20%;
  }

  .slider-text__heading {
    text-transform: uppercase;
    font-size: 60px;
    line-height: 120%;
    max-width: 800px;
    float: right;
    margin-bottom: 15px;
  }

  .slider-text__heading span {
      color: yellow;
  }

  .slider-text__desc {
      float: right;
      clear: both;
      max-width: 500px;
      font-size: 17px;
      margin-bottom: 15px;
      font-weight: 600;
      color: #fff;
  }

  .button {
      display: inline-block;
      background-color: yellow;
      color: black;
      font-size: 16px;
      letter-spacing: 2px;
      text-transform: uppercase;
      border: none;
      position: relative;
      padding: 14px 25px;
      font-weight: 700;
  }

  .slider-text__button {
      float: right;
      clear: both;
  }

  .slider-bottom {
    position: absolute;
    bottom: 0;
    height: 70px;
    display: flex;
    align-items: center;
    left: 70px;
    z-index: 5;
    width: calc(96% - 70px);
}

.slider-pagination {
    flex: 0 0 140px;
    display: flex;
    justify-content: center;
    height: 60px;
    align-items: center;
}
.slider-pagination .swiper-pagination-bullet {
    width: 6px;
    height: 6px;
    opacity: 1;
    background-color: #fff;
    margin: 0 8px;
}
.slider-pagination .swiper-pagination-bullet-active {
    background-color: yellow;
    position: relative;
}
.slider-pagination .swiper-pagination-bullet-active:focus {
    outline: none;
}
.swiper-pagination-bullet-active::before {
    content: '';
    width: 15px;
    height: 14px;
    border: 1px solid yellow;
    position: absolute;
    top: -5px;
    left: -5px;
    border-radius: 100%;
}

.slider-scrollbar {
    flex: 1 0 0;
}
.slider-scrollbar .swiper-scrollbar {
    height: 1px;
    background-color: rgba(255, 255, 255, .2);
}
.slider-scrollbar .swiper-scrollbar-drag {
    height: 4px;
    background-color: yellow;
    top: -1px;
}

.slider-navigation {
    flex: 0 0 140px;
    position: relative; 
}

.slider-navigation__container {
    max-width: 70px;
    position: relative;
    margin: auto;
}

.slider-navigation .swiper-button-prev, .slider-navigation .swiper-button-next {
    width: 32px;
    height: 32px;
    color: yellow;
    background-color: #3c3c3c;
    border-radius: 100%;
    border: 2px solid yellow;
    top: 5px;
}
.slider-navigation .swiper-button-prev {
    left: 0;
}
.slider-navigation .swiper-button-next {
    right: 0;
}
.slider-navigation .swiper-button-prev:focus, .slider-navigation .swiper-button-next:focus {
    outline: none;
}
.slider-navigation .swiper-button-prev:after, .slider-navigation .swiper-button-next::after {
    font-size: 10px;
}

@media (max-width: 991px) {
    .slider-text__heading {
        font-size: 37px;
        max-width: 400px;
    }
    .slider-text__desc {
        font-size: 12px;  
    }
    .slider-container {
        padding-left: 0px;
    }
    .slider-text__content {
        padding-right: 5%;
    }
    .button {
        display: inline-block;
        background-color: yellow;
        color: black;
        font-size: 12px;
        letter-spacing: 2px;
        text-transform: uppercase;
        border: none;
        position: relative;
        padding: 11px 18px;
        font-weight: 700;
    }
    .slider-navigation__container {
        max-width: 70px;
    }
}

@media(max-width: 576px) {
    .swiper-scrollbar {
        display: none;
    }
    .swiper-pagination {
        display: none;
    }
    .slider-bottom {
        left: 0px;
        width: 100%;
    }
    .slider-navigation {
        flex: 1 0 0 auto; 
    }
}

